# Scraping AAPL

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
headers={'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.0.0 Safari/537.36'}

response = requests.get("https://www.google.com/search?q=nasdaq:aapl", headers=headers)
doc = BeautifulSoup(response.content)

In [3]:
current_price = doc.select_one(".IsqQVc.NprOob.wT3VGc").text
current_price

'170.43'

|ticker|timestamp|price|
|---|---|---|
|NVDA|3am|400|
|NVDA|4am|450|

In [6]:
import datetime

row = {
    'ticker': 'AAPL',
    'price': float(current_price),
    'timestamp': datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")
}
row

{'ticker': 'AAPL', 'price': 170.43, 'timestamp': '2024-04-03 11:59:47'}

In [7]:
df = pd.DataFrame([row])
df

  ticker   price            timestamp
0   AAPL  170.43  2024-04-03 11:59:47

In [8]:
# If it exists, open it
# If it doesn't, just make a blank dataframe
# could also use os.path.exists to check if the file exists
# but honestly try/except is the easiest route to go here
try:
    existing_df = pd.read_csv("prices.csv")
except:
    existing_df = pd.DataFrame([])
existing_df.head()

Empty DataFrame
Columns: []
Index: []

In [9]:
# Combine our new dataframe and our old dataframe
# ignore_index=True 
combined = pd.concat([df, existing_df], ignore_index=True)
combined.head()

  ticker   price            timestamp
0   AAPL  170.43  2024-04-03 11:59:47

In [10]:
combined.to_csv("prices.csv", index=False)